.main-container {
    margin-top: 2px
}
.eightcol {
    padding-top: 10px
}
.post-sum {
    border-top: 1px solid #EAEAEA;
    margin-top: 5px;
    padding-top: 10px
}
.single-label {
    text-transform: uppercase;
    font-family: Arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
	height: 15px;
	margin-bottom: 1px;
    margin-top: 4px
}
.single-label a {
    border-radius: 4px 50px 0 0;
    color: #fff!important;
    padding: 2px 15px 0 10px;
    background-color: #afafaf
}
.single-label a:hover {
    text-decoration: none;
    color: #333!important
}
.post-outer {
    padding: 0;
    margin-bottom: 20px
}
.date-outer .date-outer {
    display: none
}
.home-right .odd,
.home-right .even {
    width: 50%;
    float: left
}
.home-right .post-i {
    position: relative;
    padding-bottom: 10px;
    border-top: 1px solid #e1e1e1
}
.post:first-child.hentry .post-summary h3.post-title a {
    margin-bottom: 0
}
.post:first-child.hentry .post-sum {
    margin-bottom: 10px
}
.home-right .odd .post-i {
    margin-right: 5px;
    min-height: 450px;
    overflow: hidden
}
.home-right .even .post-i {
    margin-left: 5px;
    min-height: 450px;
    overflow: hidden
}
.home-right {
    float: left;
    width: 74%
}
.home-left {
    float: right;
    width: 26%
}
.home-left .inner {
    margin-left: 5px;
    padding-left: 5px;
    border-right: 0
}
.top-top {
    margin-top: 0
}
.top-posts.top-of-top .catw {
    margin-top: 0
}
.top-top .inner-content:last-child {
    padding-top: 0;
    padding-bottom: 0
}
.top-of-top .most-recent-title {
    margin-top: 0;
    padding: 3px 7px 3px 0
}
.top-top .posti {
    max-height: 90px;
    overflow: hidden;
    margin-bottom: 5px
}
.top-top .mtrpw {
    margin-bottom: 0
}
.top-top .mtrpw a {
    padding-bottom: 0
}
.top-top .mtrpwsumm {
    display: none
}
.top-top .postw {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px
}
.recent-links {
    float: left;
    width: 40%
}
.recent-links .inner-content {
    padding-left: 20px
}
a.timestamp-link {
    display: none
}
.main-img {
    display: block;
    max-height: 137px;
    overflow: hidden;
    margin-bottom: 0px
}
.post.hentry.first .main-img {
    max-height: 230px
}
.main-img img {
    float: none !important;
    width: 100%;
    border-bottom: 1px solid #f1f1f1
}
h3.post-title .post-icons a {
    position: absolute;
    right: 0;
    top: 0
}
.post-summary h3.post-title {
    max-height: 73px;
    overflow: hidden;
    margin-top: 5px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: Arial, helvetica, sans-serif;
    font-size: 22px;
    padding: 5px 0 5px 0
}
.post:first-child.hentry .post-summary h3.post-title {
    margin-top: 10px
}
@media (min-width: 768px) {
    #google-ads-3 {
        width: 336px
    }
}